registry=https://registry.npmjs.org/
@acontplus:registry=https://registry.npmjs.org/
access=public
save-exact=true

# Hoist everything to root to avoid node_modules in packages
shamefully-hoist=true
public-hoist-pattern[]=*

# Link workspace packages to root node_modules only
link-workspace-packages=deep

# Prefer workspace packages
prefer-workspace-packages=true
