@use '@angular/material' as mat;
@use './../../lib/components/alert/alert-theme';
@use './../../lib/components/drawer/drawer-theme';
@use './../../lib/components/grid/grid-theme';
@use './../../lib/components/popover/popover-theme';

// Create a theme.
@mixin all-component-themes($theme) {
  @include alert-theme.theme($theme);
  @include drawer-theme.theme($theme);
  @include grid-theme.theme($theme);
  @include popover-theme.theme($theme);
}

@mixin all-component-bases($theme) {
  @include alert-theme.base($theme);
  @include drawer-theme.base($theme);
  @include grid-theme.base($theme);
  @include popover-theme.base($theme);
}

// Custom component overrides for all themes
@mixin custom-component-overrides {
  @include mat.checkbox-overrides(
    (
      selected-checkmark-color: white,
    )
  );

  @include mat.fab-overrides(
    (
      container-color: var(--theme-primary-color),
      foreground-color: white,
    )
  );

   
}