<p>
  El <code>NgDateRangePickerComponent</code> es un componente Angular que envuelve la potente
  librería <code>datex-ui</code> para selección de rangos de fechas. Proporciona integración
  completa con Angular Forms, soporte para temas personalizables, selección de fechas individuales,
  rangos de fechas, selector de tiempo, rangos predefinidos, localización y muchas otras funciones
  avanzadas.
</p>
@if (route.data | async; as data) { @for (exampleData of data["examples"]; track exampleData) {
<app-doc-heading [text]="exampleData.title"></app-doc-heading>
<app-example-viewer [exampleData]="exampleData"></app-example-viewer>
} }
