@use '@angular/material' as mat;
// @use '../../extensions' as mtx;
// @use './styles/highlightjs';
@use './styles/constants';
@use './styles/reboot';
@use 'highlight.js/styles/github-dark.css';
@use 'node_modules/bootstrap/dist/css/bootstrap.min.css';
$config: (
  color: (
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  typography: (
    brand-family: Roboto,
  ),
  density: (
    scale: 0,
  ),
);

@function create-theme($type: light) {
  $config: mat.private-deep-merge-all(
    $config,
    (
      color: (
        theme-type: $type,
      ),
    )
  );
  @return mat.private-deep-merge-all(mat.define-theme($config), $config);
}

$compact-theme: mat.define-theme(
  (
    density: (
      scale: -4,
    ),
  )
);

html {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);

  @include mat.theme($config);

  $light-theme: create-theme(light);
  @include mat.color-variants-backwards-compatibility($light-theme);
  @include mat.form-field-density($compact-theme);
}

.docs-theme-dark {
  color-scheme: dark;

  $dark-theme: create-theme(dark);
  @include mat.color-variants-backwards-compatibility($dark-theme);
}
