@use '@angular/material' as mat;
@use '../../../core/tokens/system' as system;
@use '../../../core/theming/palettes' as palettes;

.theme-aqua {
  @include system.theme(
    (
      color: (
        primary: palettes.$custom-aqua-palette,
        tertiary: palettes.$custom-aqua-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );

  @include mat.checkbox-overrides(
    (
      selected-checkmark-color: white,
    )
  );
}
