@use '@angular/material' as mat;
@use '../../../core/tokens/system' as system;
@use '../../../core/theming/palettes' as palettes;
@use '../../../core/theming/all-theme' as all-theme;

.theme-blue {
  --acp-theme-primary-color: #1b84ff;

  @include system.theme(
    (
      color: (
        primary: palettes.$custom-blue-palette,
        tertiary: palettes.$custom-blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );

  @include all-theme.custom-component-overrides;
}
