@use '../styles/constants';

app-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

app-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

// Agrupa componentes que actúan como contenedores
app-component-sidenav,
app-module-sidenav,
app-module-nav {
  flex: 1;
}

// Reglas para el contenido después del router-outlet
app-root > router-outlet + .main-content,
app-root > router-outlet + app-component-sidenav,
app-root > router-outlet + app-module-sidenav {
  margin-top: 56px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

// Responsive
@media (max-width: constants.$extra-small-breakpoint-width) {
  app-root > router-outlet + .main-content,
  app-root > router-outlet + app-component-sidenav,
  app-root > router-outlet + app-module-sidenav {
    margin-top: 92px;
    overflow-y: visible;
  }
}
